

.nav-link{color: black;}


.nav-link:hover
{color: yellow;
    font-weight:bold;
    background-color: red;
    border-radius: 10px;}

.image
{
    widows: 100%;
    height: 470px;
    background: url("/static/images/pic2.jpg");

    background-position: center;
    background-repeat: no-repeat;
}
.transparentbox{
    width: 100%;
    height :470px;
    background-color: lightgray;
    border: 1px solid #cccc52;
    opacity: 0.6;
}
.transparentbox p{
    margin-top: 10%;
    font-weight: bold;
    font-size:60px;
    font-family:'Monotype Corsiva' ;
    color: darkred;
    text-align: center;
   
    
}

.halfcircle{
    height: 75px;
    width: 150px;
    border-radius: 90px 90px 0 0;
    margin: 0px;
    background-color: darkseagreen;

}
.halfcircleBottom{
    height: 75px;
    width: 150px;
    border-radius: 0px 0px 90px 90px;
    margin: 0px;
    background-color: rgb(28, 170, 28);

}
.box1 p{
    font-weight: bold;
    color:aqua ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
}

