{%extends 'usernavigation.html'%}
{% load static %}
{%block body%}
{% ifequal error "no" %}
<script>
    alert('password changed succesfully');
  window.location = ("{% url 'logout' %}")
   //window.location.href = "http://127.0.0.1:8000/admin_home.html";
</script>
{% endifequal %}
{% ifequal error "yes"%}
<script>
    alert('invalid Login Credentials,Try Again');
   
</script>
{% endifequal %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{%  static 'images/note.jpg' %}" style="width:90%;height:400px;">

        </div>
            
        <div class="col-sm-6">
            <h2 class="text-center">CHANGE PASSWORD</h2>
         <hr>
         <form method="post">
             {%csrf_token%}
             <label>Old password</label>
             <input type="password" class="form-control" placeholder="Enter your old password" name="old"/>
             <label>New password</label>
             <input type="password" class="form-control" placeholder="Enter your new password" name="new">
             <label>Confirm password</label>
             <input type="password" class="form-control" placeholder="Renter your password" name="confirm">
              <input type="submit" class="btn btn-danger mt-2" value="submit"/>
            </form>
        </div>

    </div>
</div>

{%endblock%}