{%extends 'navigation.html'%}
{% load static %}
{%block body%}

<div  style="background-color: green;width: 100% ;height: 100px; ">
    <h2 class="text-white container pt-4" >Contact Us</h2>
</div>
    <div class="container mt-5">
       <div class="row">
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7067.318824838773!2d85.32847167535624!3d27.666007331236013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19ddc182f339%3A0xec009106dd012081!2sGwarko%2C%20Lalitpur!5e0!3m2!1sen!2snp!4v1601294676702!5m2!1sen!2snp" width="500" height="450" frameborder="0" style="margin-top: 25px;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
       </div>
       <div class="col-sm-6 mt-5" >
           <div style="margin-top: 10px;">
            <p><i class="fas fa-envelope"></i>Email ID: abhi58singh@gmail.com</p>
            <p><i class="fas fa-phone-square"></i>Contact: 9862839289</p>
            <p><i class="fas fa-fa-address-card"></i>Address: 
            ktm</p>
            <p><i class="fas fa-clock"></i>office Hours: 10-4</p>
            <p>Follow us</p>
        <a href="#"></a><i class="fab fa-facebook-f pl-5"></i></a>
        <a href="#"></a><i class="fab fa-twitter pl-5"></i></a>
        <a href="#"></a><i class="fab fa-telegram pl-5"></i></a>
        </div>
       </div>
    </div >
    <br>
    <br>

{%endblock%}