{%  extends 'navigation.html' %}
{% block body  %}
<div  class="image">

<div class="transparentbox">

<p>Study note Sharing Site</p>
</div>

<h4 class="text-center text-danger mt-5 mb-5"> just 4 step to follow</h4>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-3">
            <div class="box1">
               <p class="halfcircle"><i class=" text-center fas fa-user-circle  mt-4"></i></p>
               <p class="halfcircleBottom" style="font-size: 20px;">Create Account</p>
            </div>

            </div>
            <div class="col-sm-3">
                <div class="box1">
                   <p class="halfcircle"><i class=" text-center fas fa-sign-in-alt text-white mt-4"></i></p>
                   <p class="halfcircleBottom" style="font-size: 20px;">Login</p>
                </div>
    
                </div>
                <div class="col-sm-3">
                    <div class="box1">
                       <p class="halfcircle"><i class=" text-center fas fa-upload text-white mt-4"></i></p>
                       <p class="halfcircleBottom" style="font-size: 20px;">Upload Note</p>
                    </div>
        
                    </div>

                    <div class="col-sm-3">
                        <div class="box1">
                           <p class="halfcircle"><i class=" text-center fas fa-download text-white mt-4"></i></p>
                           <p class="halfcircleBottom" style="font-size: 20px;">Download Note</p>
                        </div>
            
                        </div>
        </div>

    </div>
    </div >
    <br>
    <br>

{% endblock %}